:root {
  /* Fonts */
  --font-primary: 'Roboto', sans-serif;

  /* Color */
  --color-main: #2e2f42;
  --body-text: #434455;
  --color-bg: #f4f4fd;
  --color-button: #4d5ae5;
}
body {
  font-family: var(--font-primary);
  background-color: #fff;
  color: var(--body-text);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
.text {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main);
}
/**
  |============================
  | HEADER
  |============================
*/
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar-logo {
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--color-button);
}
.header-span {
  color: var(--color-main);
}
.navbar-list {
  display: flex;
  gap: 40px;
}
.navbar-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.navbar-link:focus,
.navbar-link:hover {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
.contact .link:focus,
.contact .link:hover {
  color: #404bbf;
}

/**
  |============================
  | HERO
  |============================
*/
.hero {
  padding: 188px 0;
  background-color: var(--color-main);
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  /* background-image: linear-gradient rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7); */
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  margin: 0 auto;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 44px;
}
.hero-btn {
  height: 56px;
  border: none;
  background-color: var(--color-button);
  color: #fff;
  display: block;
  min-width: 169px;
  margin: 0 auto;
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #404bbf;
}

/**
  |============================
  | ABOUT
  |============================
*/
.about-item {
  width: calc((100% - 3 * 24px) / 4);
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.about-subtitle {
  color: var(--body-text);
}

/**
  |============================
  | SCOPE
  |============================
*/
.scope {
  padding-bottom: 120px;
}
.scope-list {
  display: flex;
  gap: 24px;
}
.scope-item {
  width: calc((100%-16px * 3) / 3);
}

/**
  |============================
  | TEAM
  |============================
*/
.team {
  background-color: var(--color-bg);
}
.team-img {
  overflow: hidden;
}
.team-item {
  background-color: #fff;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% -24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-desc {
  padding: 32px 16px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.team-text {
  text-align: center;
  color: var(--body-text);
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  padding: 100px 0;
  background-color: var(--color-main);
  color: var(--color-bg);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-button);
}
.footer-text {
  max-width: 264px;
}
.footer-logo span {
  color: var(--color-bg);
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

/**
  |============================
  | PORTFOLIO
  |============================
*/
.menu {
  padding: 96px 0 120px;
}
.menu-btn {
  color: var(--color-button);
  background-color: var(--color-bg);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}
.menu-btn:hover,
.menu-btn:focus {
  color: #fff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.menu-btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.menu-list .list {
  list-style: none;
}
.menu-inner-list {
  width: calc((100% - 48px) / 3);
}
.menu-inner-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
  margin-bottom: 8px;
}
.menu-desc {
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
.desc-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
